* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
a {
  font-family: Arial;
}

.blue-background {
  background-color: #5dbcd2;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid black;
}

.nav-bar a {
  text-decoration: none;
}

#front-page-image {
  height: auto;
  width: 50%;
}

#front-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#products-content {
  display: flex;
  justify-content: left;
  margin-top: 50px;
  margin-left: 20px;
}

.products-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

.product-image {
  height: 150px;
}

.about-company {
  display: flex;
}

.about-company > img {
  margin: 20px;
  height: auto;
  flex: 0 0 auto;
}

.about-company > p {
  flex: 0 1 auto;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
  .nav-bar {
    flex-direction: column-reverse;
    border: none;
  }

  #products-content {
    flex-direction: column;
    margin: 20px;
  }
}

@media screen and (max-width: 800px) {
  #products-content {
    justify-content: space-evenly;
    margin-left: 0;
  }
  .products-tile {
    margin-left: 0;
  }
  .about-company {
    flex-direction: column;
    align-items: center;
  }
  .about-company > img {
    flex: 0 1 auto;
    width: 75%;
  }
}
