* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
a {
  font-family: Arial;
}

.blue-background {
  background-color: #5dbcd2;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid black;
}

.nav-bar a {
  text-decoration: none;
}

#front-page-image {
  height: auto;
  width: 50%;
}

#front-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#products-content {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 20px;
}

.products-tile {
  width: 20%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  margin-top: 20px;
  padding-top: 20px;
}

.products-tile > h4 {
  border-top: 1px solid black;
}

.product-image {
  height: 150px;
}

.about-company {
  display: flex;
}

.about-company > img {
  margin: 20px;
  height: auto;
  flex: 0 0 auto;
}

.about-company > p {
  flex: 0 1 auto;
  margin-left: 10px;
  margin-right: 10px;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
}

.contact-form > * {
  margin-top: 10px;
}

.form-label {
  display: flex;
  align-items: center;
  width: 25%;
}

.form-input {
  width: 75%;
}

#form-submit {
  width: 100%;
  margin: 10px 20%;
  height: 50px;
  background-color: green;
  color: white;
  border: none;
}

#form-submit:hover {
  background-color: blue;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .nav-bar {
    flex-direction: column-reverse;
    border: none;
  }

  #products-content {
    flex-direction: column;
    margin: 20px;
  }
}

@media screen and (max-width: 800px) {
  #products-content {
    justify-content: space-evenly;
    margin-left: 0;
  }
  .products-tile {
    margin-left: 0;
  }
  .about-company {
    flex-direction: column;
    align-items: center;
  }
  .about-company > img {
    flex: 0 1 auto;
    width: 75%;
  }
  .form-label,
  .form-input {
    width: 100%;
  }
  .contact-form {
    width: 80%;
  }
}
